_Image*
_Interim*

**/.idea/*
.idea/contentModel.xml
bin
obj
.bin
.obj
.suo
.csproj.user
.dbmdl
.jfm
.vs
.sln.startup.json
.idea/workspace.xml
.pubxml.user
**/*.pyc

.idea/contentModel.xml
_Image*
_Interim*
_Tools*

.~lock.*

Sharp/StreamLabServices/packages/*

Sharp/Version/BuildVersion.txt

BuildLite/__temp*

Art/*
bin
obj
.suo
.csproj.user
.dbmdl
.jfm
.vs
.sln.startup.json
.idea/workspace.xml
.pubxml.user
.git


syntax: regexp
.*\.pyc
Python/.*/Common/.*
BuildLite/.*/config\..*

Unity/StreamtasyArena/*.sln
Unity/StreamtasyArena/*.csproj
Unity/StreamtasyArena/Library
Unity/StreamtasyArena/Logs
Unity/StreamtasyArena/Temp
Unity/StreamtasyArena/obj
Unity/StreamtasyArena/Assets/Nova.Kernel.*
Unity/StreamtasyArena/Assets/Newtonsoft.Json.*
Filters/production_*

