_Image*
_Interim*

PD2Status/Nova
PD2Status.sln.DotSettings.user

**/.idea/*
.idea/contentModel.xml
bin
obj
.bin
.obj
.suo
.csproj.user
.dbmdl
.jfm
.vs
.sln.startup.json
.idea/workspace.xml
.pubxml.user
**/*.pyc

.idea/contentModel.xml
_Image*
_Interim*
_Tools*

.~lock.*

Art/*
bin
obj
.suo
.csproj.user
.dbmdl
.jfm
.vs
.sln.startup.json
.idea/workspace.xml
.pubxml.user
.git

syntax: regexp
.*\.pyc
Python/.*/Common/.*
BuildLite/.*/config\..*
